Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "\.(exe|zip)$">
    Header set Content-Type "application/octet-stream"
    Header set Content-Disposition "attachment"
    Header set Cache-Control "public, max-age=86400"
    Header set Accept-Ranges "bytes"
  </FilesMatch>
</IfModule>
